*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



body {
  margin: 0;
  width: 100vw;
  font-family: poppins,sans,sans-serif;
  line-height: 1.5;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
